<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkt.mapper.TemperaturerecordMapper">

    <resultMap id="BaseResultMap" type="com.zkt.entity.Temperaturerecord">
            <id property="recordid" column="RecordID" jdbcType="INTEGER"/>
            <result property="visitorid" column="VisitorID" jdbcType="INTEGER"/>
            <result property="measuretime" column="MeasureTime" jdbcType="TIMESTAMP"/>
            <result property="temperature" column="Temperature" jdbcType="FLOAT"/>
    </resultMap>

    <sql id="Base_Column_List">
        RecordID,VisitorID,MeasureTime,
        Temperature
    </sql>
</mapper>
