<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkt.mapper.VehicleMapper">

    <resultMap id="BaseResultMap" type="com.zkt.entity.Vehicle">
            <id property="vehicleid" column="VehicleID" jdbcType="INTEGER"/>
            <result property="licenseplate" column="LicensePlate" jdbcType="VARCHAR"/>
            <result property="vehicletype" column="VehicleType" jdbcType="VARCHAR"/>
            <result property="ownername" column="OwnerName" jdbcType="VARCHAR"/>
            <result property="ownerphonenumber" column="OwnerPhoneNumber" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        VehicleID,LicensePlate,VehicleType,
        OwnerName,OwnerPhoneNumber
    </sql>
</mapper>
