<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkt.mapper.VisitorMapper">

    <resultMap id="BaseResultMap" type="com.zkt.entity.Visitor">
            <id property="visitorid" column="VisitorID" jdbcType="INTEGER"/>
            <result property="name" column="Name" jdbcType="VARCHAR"/>
            <result property="idcard" column="IDCard" jdbcType="VARCHAR"/>
            <result property="companyname" column="CompanyName" jdbcType="VARCHAR"/>
            <result property="reason" column="Reason" jdbcType="VARCHAR"/>
            <result property="visittime" column="VisitTime" jdbcType="TIMESTAMP"/>
            <result property="leavetime" column="LeaveTime" jdbcType="TIMESTAMP"/>
            <result property="isepidemicarea" column="IsEpidemicArea" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        VisitorID,Name,IDCard,
        CompanyName,Reason,VisitTime,
        LeaveTime,IsEpidemicArea
    </sql>
</mapper>
